/* Login */

body {
    margin: 0;
    display: block !important;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
.app {
 
    display: flex;
    height: 100vh;
    

  }
  
  .left-pane,
  .right-pane {
    flex: 4; /* Makes both panes take up equal space */
    /* background-color: #18171c; */
   
  }
  .hh{
    padding: 5%;
    background-color: rgba(90, 88, 88, 0); 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .field{
    background-color: rgba(204, 198, 198, 0.5) !important; 
  }

  .left-pane {
    flex: 4;
    display: flex;
    /* background-color: lightblue !important; */
    justify-content: center !important;
    align-items: center;
    position: relative;
    height: 100vh; /* Optional: Colors the left pane */
}
.imgDiv{
    height:100vh;
    width: 100%;
    background-image: url('./assets/mov1.jpg') !important;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.5);
  }
  .centered-content {
    text-align: center;
  }


    .trans {
        padding: 5%;
        background-color: rgba(90, 88, 88, 0.5); 
      }
      
   
  .right-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #01000a; */
    height: 100%;
    width: 100%; /* Ensure it takes up full width */
    background-image: url('./assets/mov.jpsg'); 
    background-size: cover;
    background-position: center;
    background-color: rgba(3, 3, 3, 1); 

  }
  .btn-oval {
    /* border-radius: 50px !important;  */
    width: calc(95% - 2 * 0.25rem) !important; 
    padding-top: 10px !important; /* Increase top padding to make the button taller */
    padding-bottom: 10px !important; 
    padding-left: 20px !important;
    border: none !important;
    background-color: #de1414 !important;
  }
  .mini{
    color: #afbec4;
  }
.cred{
  font-weight: 500;
  color: #233138;
}


.form-control.blue-line {
  border-left: 4px solid #0384fc !important/* Blue color */
}




.log{
   color: white;
   font-weight: 500;
}
/* 
.left-pane {
  
 
} */
.query{
  color: #afbec4;
  font-weight: 100 !important;
  font-family: 'Montserrat';
  font-size: 15 !important;
  padding: 0 20%
}
.qu{
  color: #afbec4;
  bottom: 20px; 
  position: absolute;
  left: 200px;
}
.welc{
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px) {
  .app {
    flex-direction: column; /* Stack the panes vertically */
  }
  
  .left-pane {
    flex: 3; 
  }

  .right-pane {
    flex: 7; 
  }
 .welc{
  padding-top: 20px;
 }
 .query{
  padding: 0 0%
 }
  .qu{
    left: 40px;
    bottom: 5px; 
  }
  .mob{
    padding: 5% 25px;
  }
  .form-control {
    width: 100% !important; 
    padding: 10px 12px !important; 
   }

}
/* register */
.main{
    position: relative;
    width: 100%;
    height: 100vh; 
}
.content {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: aliceblue;
  }
  .field1{
    background-color: rgba(240, 237, 237, 0.9) !important; 
  }
  /* priotiy */
  .in {
    /* display: flex !important; */
    justify-content: center !important;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: aliceblue;
    width: 85vw; /* 80% of viewport width */
    height: 85vh; /* 80% of viewport height */
    background-color: rgba(90, 88, 88, 0.5); 
  }

  .row {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 110%;
    height: 12%;
    padding-top:20px;
    padding-right: 90px;
    gap: 20px;
  }
  
  .column {
    /* flex: 1; */
    padding-right: 10px; 
     border: 1px solid white;
     width: 20% !important; 
  
  }
  .row1{
    justify-content: center;
    padding: 30px; 
    padding-left: 470px;
    padding-right: 470px;
    /* width: 50%; */
  }
  .column.selected {
    /* Styles for selected columns */
    background-color: #f0f0f0; /* Example background color */
    border-color: #ff0000; /* Example border color */
    color: #000; /* Example text color */
  }
.select{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  height: 120px;
}
.btn-oval-b{
  width: calc(40% - 2 * 0.25rem) !important; 
  padding-top: 10px !important; 
  padding-bottom: 10px !important; 
  padding-left: 20px !important;
  border: none !important;
  background-color: #de1414 !important;
}
.skiplink{
  font-size: 14px;
  color: white;
  text-decoration: underline;
  display: block;
  text-align: center;
  margin-top: -10px !important;
}


/* home navbar */
.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #be50f4 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  width: 120px !important;
  height: auto !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #c95bf5;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;

}

.professional-button {
  background-color: #a35aa4; /* Darker shade of the same color */
  border: none;
  color: #fff;
  padding: 4px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.professional-button:hover {
  background-color: #954e9a; /* Darker shade on hover */
  transform: translateY(-1px);
}
.search-bar input {
  width: 300px; /* Adjust the width as needed */
  background-color: rgba(128, 128, 128, 0.5); /* Translucent grey color */
  border: none; /* Remove border */
  border-radius: 20px; /* Rounded corners */
  padding: 6px 12px; /* Padding for input */
  font-size: 14px;
  color: white; /* Text color */
  outline: none; /* Remove outline */
  margin-top: 0px; /* Position a little lower */
  margin-left: 40px !important;
}

.search-bar input::placeholder {
  color: white; /* Placeholder text color */
}

.navbar .navbar-toggler {
  border: none; /* Remove border */
}

.navbar-toggler-icon {
  background-color: white; /* Toggler icon color */
}
.search-bar {
  display: flex;
  align-items: center;

  input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  .search-button {
    background-color: #ba0719;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 0px;
  }
}
/* home */
.mainn{
  height: 100%;
  background-color: #000;
}
.movie{
  /* margin-top: 30px;*/
  position: relative;
  padding-top: 75px; 
  height: 80vh;
  width: 100%;
  overflow: hidden;
  /* background-color: #0384fc; */
}
video {

  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the entire container without stretching */
}
.mute{
  color: #afbec4;
}

/* 
sliders */
.movie-container {
  height: 200px;
  overflow-x: auto;
}

.movie-list {
  display: flex;
  flex-wrap: nowrap;
}

.movie-item {
  height: 100px;
  width: 100px;
  flex: 0 0 auto;
  margin-right: 10px;
}

/* .movie-item img {
  width: 100px;
  height: auto;
} */
:root {
  --swiper-theme-color: #e5e5e5 !important;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); */

body {
  background: #141414;
  font-family: 'Roboto', sans-serif;
  color: #e5e5e5;
  overflow-x: hidden;
}

.container1 {
  margin-top: 2rem ;
 

}

.swiper-container {
  margin-left: 1px;
  overflow: visible;
  position: relative;
}


.muteBtn{
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: transparent !important;
  
}

.muteBtn i{

  color: #fff !important;
}


p {
  font-size: 1.7rem;
  font-weight: 500;
  color: white !important;
}
.swiper-slide {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
}

.swiper-slide img {
  border-radius: 5px;
  max-width: 18rem;
  cursor: grab;
}

.swiper-slide img:active {
  cursor: grabbing;
}

.swiper-slide:hover {
  transform: scale(1.5);
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
  z-index: 1;
}

.swiper-slide:hover img {
  transition-delay: 300ms;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}

@media screen and (max-width: 599px) {
  .swiper-slide img {
    max-width: 14rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .swiper-slide img {
    max-width: 10.5rem;
    border-radius: 2px;
  }
}
/*minipage*/
.main-1{
  height: 100vh;
 
}
.moviepic{
  padding-top: 200px !important; 
  height: 65vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.popup {
 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  }
  
  .popup-inner {
    background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  width: 70%;
  height:100vh
  }
  
  .popup-inner h2 {
  margin-top: 0;
  }
  
  .popup-inner label {
  display: block;
  margin-bottom: 10px;
  }
  
  .popup-inner input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  }
  
  .popup-inner button[type="submit"],
  .popup-inner button[type="button"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  }
  
  .popup-inner button[type="submit"]:hover,
  .popup-inner button[type="button"]:hover {
  background-color: #45a049;
  }
  
  .popup-inner button[type="submit"] {
  margin-top: 20px;
  }
  
  .popup-inner button[type="button"] {
  margin-top: 20px;
  background-color: #f44336;
  }
  
  .popup-inner button[type="button"]:hover {
  background-color: #da190b;
  }
  
  .popup-inner button[type="submit"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
  }
  
  .popup-inner button[type="button"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
  }